# Copia este archivo a .env y ajusta los valores.
SECRET_KEY=genera-una-clave-larga-y-aleatoria-aqui
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,.vercel.app
CSRF_TRUSTED_ORIGINS=https://*.vercel.app
